body {
  background-image: url('/zen_low.jpg');
  
  background-size:100% 100%;
  background-repeat:no-repeat;
  
}
canvas {
  border: 0 solid #000000;
}
.axis-top {
  border: 0 solid #000000;
  margin: 0;
  padding: 0;
  text-align: center;
}
.axis-left {
  border: 0 solid #000000;
  text-align: right;
  margin-top: 25%;
}
.axis-right {
  border: 0 solid #000000;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 25%;
}
.axis-bottom {
  border: 0 solid #000000;
  margin: 0;
  padding: 0;
  text-align: center;
}
.grid-row {
  border: 0 solid #000000;
  margin: 0;
  padding: 0;
}
.login-bar {
  float: right;
  padding: 10px 10px 0 0;
}